
@use 'sass:color';


#config-theme[data-theme="dark"] {
    
    --color-primary: #{$base-color-primary};
    --color-primary-tier2: #{$base-color-primary-tier2};
    --color-primary-tier3: #{$base-color-primary-tier3};

    --color-secondary: #{$base-color-secondary};
    --color-secondary-tier2: #{$base-color-secondary-tier2};
    --color-secondary-tier3: #{$base-color-secondary-tier3};

    --color-tertiary: #{$base-color-tertiary};
    --color-tertiary-tier2: #{$base-color-tertiary-tier2};
    --color-tertiary-tier3: #{$base-color-tertiary-tier3};

    --color-popover-text: #{color.change($base-color-primary, $lightness: 100%)};
    --color-popover-bg: #{$base-color-secondary};


    --color-bg: #{$base-color-bg};
    --color-bg-secondary: #{$base-color-bg-secondary};
    --color-bg-tertiary: #{$base-color-bg-tertiary};

    --color-gradient-primary: linear-gradient(135deg, #{$base-color-gradient-primary}, #{color.change($base-color-gradient-primary, $alpha: 0)});

    --color-border: #{$base-color-border};
    --color-border-tier2: #{$base-color-border-tier2};

}

#config-theme[data-theme="light"] {
    --color-primary: #{color.change($base-color-primary, $lightness: 10%)};
    --color-primary-tier2: #{color.change($base-color-primary, $lightness: 20%)};
    --color-primary-tier3: #{color.change($base-color-primary, $lightness: 30%)};
    
    --color-bg: #{color.change($base-color-bg, $lightness: 98%)};
    --color-bg-secondary: #{color.change($base-color-bg-secondary, $lightness: 95%)};
    --color-bg-tertiary: #{color.change($base-color-bg-tertiary, $lightness: 90%)};
    
    --color-secondary: #{$base-color-secondary};
    --color-secondary-tier2: #{color.change($base-color-secondary, $lightness: 40%)};
    --color-secondary-tier3: #{color.change($base-color-secondary, $lightness: 30%)};
    
    
    --color-popover-text: #{color.change($base-color-primary, $lightness: 100%)};
    --color-popover-bg: #{$base-color-secondary};

    --color-tertiary: #{$base-color-tertiary};
    --color-tertiary-tier2: #{$base-color-tertiary-tier2};
    --color-tertiary-tier3: #{$base-color-tertiary-tier3};

    --color-gradient-primary: #{color.change($base-color-bg-secondary, $lightness: 95%)};

    --color-border: #{color.invert($base-color-border, 100%)};
    --color-border-tier2: #{color.invert($base-color-border-tier2, 100%)};

}
