@use "sass:color";

$base-color-primary: hsl(252, 29%, 90%);
$base-color-secondary: hsl(259, 86%, 59%);
$base-color-tertiary: hsl(119, 79%, 51%);
$base-color-bg: hsl(252, 12%, 8%);
$base-color-stroke: hsl(253, 10%, 18%);
$base-color-button: hsl(0, 0%, 5%);
$base-color-gradient-primary: hsl(249, 13%, 11%);

$base-color-primary: $base-color-primary;
$base-color-primary-tier2: color.change($base-color-primary, $saturation: 10%,  $lightness: 60%);
$base-color-primary-tier3: color.change($base-color-primary, $saturation: 5%, $lightness: 30%);

$base-color-secondary: $base-color-secondary;
$base-color-secondary-tier2: color.change($base-color-secondary, $lightness: 38%);
$base-color-secondary-tier3: color.change($base-color-secondary, $lightness: 80%);

$base-color-tertiary: $base-color-tertiary;
$base-color-tertiary-tier2: color.change($base-color-tertiary, $lightness: 38%);
$base-color-tertiary-tier3: color.change($base-color-tertiary, $lightness: 80%);

$base-color-bg: $base-color-bg;
$base-color-bg-secondary: color.change($base-color-bg, $lightness: 20%);
$base-color-bg-tertiary: color.change($base-color-bg, $lightness: 40%);

$base-color-border: $base-color-stroke;
$base-color-border-tier2: color.change($base-color-stroke, $lightness: 5%);

$breakpoint-mobile-small: 320px;
$breakpoint-mobile-medium: 375px;
$breakpoint-mobile-large: 425px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-laptop-large: 1440px;

