.main {
    min-height: 100dvh;
    height: 100%;
    width: 100%;
    // min-width: breakpoint(mobile-large);
    // max-width: breakpoint(laptop-large);

    margin: auto;
    background-color: color(bg);

}

