/* We'll want to adjust these, but that will be part of the design process, so it's fine for now  */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  src: url('./fonts/Geist-Regular.woff2') format('woff2'),
    url('./fonts/Geist-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('./fonts/Geist-Bold.woff2') format('woff2'),
    url('./fonts/Geist-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('./fonts/GeistMono-Regular.woff2') format('woff2'),
    url('./fonts/GeistMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  @apply font-geist font-normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  @apply font-geist-mono font-normal;
}

@layer components {
  .heading {
    @apply mb-2 pt-3 pb-0 text-center leading-none tracking-tight text-blue-700 md:text-4xl lg:text-3xl dark:text-blue-700;
  }
  .column {
    @apply px-3 py-3.5 text-left text-sm font-semibold text-gray-900;
  }
}

.popover {
  background-color: white;
  width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: medium;
}
.popover.bottom .arrow::after {
  border-bottom-color: blueviolet;
}
.popover-content {
  background-color: white;
  font-size: 1.2rem;
  line-break: loose;
  width: 180px;
  padding: 10px;
}

.ͼ1 .cm-scroller {
  font-family: 'Geist Mono';
}
