.modal {
    position:fixed;

    background: color(bg);
    border: 1px solid color(border);
    border-radius: borderRadius(regular);
    padding: 0px;

    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    

    width: clamp(300px, 90vw, 800px);
    height: clamp(300px, 90vh, 500px);
    
    .modal-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: padding(regular);
        background-color: color(bg-secondary);
        border-radius: borderRadius(regular);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom: 1px solid color(border);

        .close {
            font-size: 2rem;
            margin-right: 1rem;
            cursor: pointer;

            &:hover {
                color: color(secondary);
            }
        }

    }

    .modal-body {
        flex: 1 1 100%;
        overflow: scroll;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: var(--padding-regular);
    }

    .modal-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding-top: padding(regular);
        background-color: color(bg-secondary);
        border-radius: borderRadius(regular);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top: 1px solid color(border);

        button {
            margin:0px;
            margin-right: 1rem;

            font-weight: bold;
        }
    }

    .modal-header,
    .modal-body,
    .modal-footer {
        padding: padding(regular);
    }



    &.hidden {
        display: none;
    }

    
    &.error div{
        background: rgba(255,0,0,0.5);
    }

}

.modal-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    z-index: 10000;
    background: rgba(0,0,0,0.5);

    &.hidden {
        display: none;
    }

}